@import "assets/variables";
//////////how to use//////////
///
///  FORM CLASS STYLE
///
///  CLASS's:
///    - form-row
///    - form-group
///    - form-control
///    - form-check
///    - form-check-input
///    - form-check-label
///    - invalid-feedback
///  TODO:
///    - add progress when submit
///    - add valid feedback when success
.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row>.col,
.form-row>[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $color-font;
    background-color: $color-background;
    background-clip: padding-box;
    border: 1px solid $color-primary;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: $color-font;
    outline: 0;
    box-shadow: 0 0 0 0.2rem lighten($color: $color-primary-dark, $amount: 60);
}

.form-control::placeholder {
    color: $color-font-light;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}

.form-check-label {
    color: $color-font;
    margin-bottom: 0;
}

.invalid-feedback {
    color: $color-danger;
}