@import "assets/variables";

header {
  background: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 200px;

  h1 {
    font-weight: bold;
    text-align: center;
    color: $color-font-primary;
    font-size: 28px;
    margin: 0;
  }
}

h2 {
  color: $color-primary;
}
