@import 'assets/variables';
.parallax {
  height: 100vh;
  background-color: $color-primary;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (pointer: fine) {
  .parallax {
    background-attachment: fixed
  }
}
