
/*Color valiables*/
/*NOTE: Don't use this*/
$col-blue: #14336a;
$col-blue-dark: #142b53;
$col-blue-light: #1d4488;
$col-blue-mate: #00406f;

$col-white: #fefefe;
$col-white-dark: #f2f2f2;
$col-black: #20222e;

$col-yellow: #d1a961;
$col-yellow-light: #d1ac66;
$col-yellow-dark: #9c8252;
$col-mustard: #feea00;
$col-mustard-light: #fff36d;
$col-mustard-dark:#ddcb00;

$col-red: #dc3545;

$col-green: #28a745;



/*variables for usage*/
$color-primary: $col-blue;
$color-primary-light: $col-blue-light;
$color-primary-dark: $col-blue-dark;
$color-primary-mate: $col-blue-mate;

$color-secondary: $col-white;
$color-active: $col-blue;
$color-success: $col-green;
$color-warning: $col-mustard;
$color-warning-dark: $col-mustard-dark;
$color-warning-light: $col-mustard-light;
$color-danger: $col-red;

$color-font-primary: $col-white;
$color-font-background: $col-black;
$color-font: $color-font-background;
$color-font-light: #7a7a7a;

$color-background: $col-white;
$color-background-white: $col-white-dark;